fastapi
uvicorn[standard]
sqlalchemy
asyncpg
greenlet
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
pytz
httpx
pytest
pytest-asyncio
openpyxl
python-docx
alembic
